In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_json('yelp_academic_dataset_business.json',lines=True)

In [ ]:
df_business = df

In [ ]:
df_business['cat_list'] = [x.split(',') if x else [''] for x in df_business['categories']]
all_cat = list(df_business['cat_list'])

In [ ]:
unique_cat = set(np.concatenate(all_cat))
unique_cat = [x.replace(' ', '') for x in unique_cat] # length = 2455

In [ ]:
def give_unique_cat(cat_list: list):
    cat_list = [x.replace(' ', '') for x in cat_list]
    unique_category = 'Others'
    if 'Restaurants' in cat_list or 'Food' in cat_list or 'Cafeteria' in cat_list: 
        unique_category = 'Food'
    if 'Hotel&Travel' in cat_list or 'Hotels' in cat_list : 
        unique_category = 'Hotels'
    if 'Bars' in cat_list or 'Beer' in cat_list: 
        unique_category = 'Bars'
    # if 'Cafeteria' in cat_list: 
    #     unique_category = 'Cafeteria'
    if 'Pharmacy' in cat_list or 'Doctors' in cat_list or 'Health&Medical' in cat_list: 
        unique_category = 'Health & Medical'
    if 'Shopping' in cat_list: 
        unique_category = 'Shopping'
    if 'Arts&Entertainment' in cat_list: 
        unique_category = 'Arts & Entertainment'
    if 'Financial Services' in cat_list: 
        unique_category = 'Financial Services'
    if 'Automotive' in cat_list: 
        unique_category = 'Automotive'
    if 'ActiveLife' in cat_list: 
        unique_category = 'Active Life'

    return unique_category

In [ ]:
df_business['unique_category'] = [give_unique_cat(x) for x in df_business['cat_list']]
df_business['unique_category'].value_counts().plot(kind='bar')

In [ ]:
def give_restaurant_type(cat_list: list):
    restaurant_type = None
    cat_list = [x.replace(' ', '') for x in cat_list]
    if not ('Food' in cat_list or 'Restaurants' in cat_list):
        return restaurant_type

    # print(cat_list)

    if 'Korean' in cat_list:
        restaurant_type = 'Korean'
    elif 'Italian' in cat_list:
        restaurant_type = 'Italian'
    elif 'Pizza' in cat_list or 'FastFood' in cat_list or 'Burgers' in cat_list:
        restaurant_type = 'Fast Food'
    elif 'Japanese' in cat_list:
        restaurant_type = 'Japanese'
    elif 'American(Traditional)' in cat_list or 'American(New)' in cat_list:
        restaurant_type = 'American'
    elif 'Chinese' in cat_list:
        restaurant_type = 'Chinese'
    elif 'Mexican' in cat_list:
        restaurant_type = 'Mexican'
    elif 'Vietnamese' in cat_list:
        restaurant_type = 'Vietnamese'
    else:
        restaurant_type = 'Others'

    return restaurant_type

In [ ]:
df_business['restaurant_type'] = [give_restaurant_type(x) for x in df_business['cat_list']]
df_business['restaurant_type'].value_counts().plot(kind='bar')

In [ ]:
def check_attribute(attribute: dict, key: str):
    if not attribute:
        return False

    v = attribute.get(key)
    if key == 'BusinessParking':
        if v:
            v = 'True' in v
        else:
            v = 'False'

    if v and v != 'False' and v!= 'None': 
        return True
    else:
        return False

df_business['has_wifi'] = [check_attribute(x, 'WiFi') for x in df_business['attributes']]
df_business['has_parking'] = [check_attribute(x, 'BusinessParking') for x in df_business['attributes']]
df_business['animal_friendly'] = [check_attribute(x, 'DogsAllowed') for x in df_business['attributes']]

In [ ]:
df_business

In [ ]:
def calTime(hours, day):
    if hours:
        if day in hours:
            time = hours[day]
            times = time.split('-')
            times1 = times[0].split(':')
            times2 = times[1].split(':')
            if int(times1[0]) == int(times2[0]):
                hour = 24
            else:
                hour = int(times2[0]) - int(times1[0])
            min = int(times2[1]) - int(times1[1])
            min /= 60
            return int(hour - min)

In [ ]:
df_business['Monday'] = df_business.apply(lambda x : calTime(x['hours'],'Monday'),axis = 1)
df_business['Tuesday'] = df_business.apply(lambda x : calTime(x['hours'],'Tuesday'),axis = 1)
df_business['Wednesday'] = df_business.apply(lambda x : calTime(x['hours'],'Wednesday'),axis = 1)
df_business['Thursday'] = df_business.apply(lambda x : calTime(x['hours'],'Thursday'),axis = 1)
df_business['Friday'] = df_business.apply(lambda x : calTime(x['hours'],'Friday'),axis = 1)
df_business['Saturday'] = df_business.apply(lambda x : calTime(x['hours'],'Saturday'),axis = 1)
df_business['Sunday'] = df_business.apply(lambda x : calTime(x['hours'],'Sunday'),axis = 1)

In [ ]:
df_IL = df_business[df_business['state'] == 'IL'].reset_index(drop=True)
df_IL.to_json('yelp_academic_dataset_business_IL.json')

In [ ]:
pd.read_json('yelp_academic_dataset_business_IL.json')

In [ ]:
df_FL = df_business[df_business['state'] == 'FL'].reset_index(drop=True)
df_FL.to_json('yelp_academic_dataset_business_FL.json')

In [ ]:
pd.read_json('yelp_academic_dataset_business_FL.json')

In [ ]:
df_IN = df_business[df_business['state'] == 'IN'].reset_index(drop=True)
df_IN.to_json('yelp_academic_dataset_business_IN.json')

In [ ]:
pd.read_json('yelp_academic_dataset_business_IN.json')

In [ ]:
df_PA = df_business[df_business['state'] == 'PA'].reset_index(drop=True)
df_PA.to_json('yelp_academic_dataset_business_PA.json')

In [ ]:
pd.read_json('yelp_academic_dataset_business_PA.json')