## Final Project Group 30
- Ching-Yun Huang (ch60@illinois.edu)
- Haocheng Zhong (hzhong11@illinois.edu)
- Thomas Huang (yenshuo2@illinois.edu)
- Yu-Wei Lai (yuwei6@illinois.edu)

In [1]:
# pip install altair

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json
import altair as alt
import ipywidgets as widgets

In [3]:
df_IL = pd.read_json('https://raw.githubusercontent.com/yuwei97910/is445-group30-final-project/main/DataSet/yelp_academic_dataset_business_IL.json')
df_FL = pd.read_json('https://raw.githubusercontent.com/yuwei97910/is445-group30-final-project/main/DataSet/yelp_academic_dataset_business_FL.json')
df_IN = pd.read_json('https://raw.githubusercontent.com/yuwei97910/is445-group30-final-project/main/DataSet/yelp_academic_dataset_business_IN.json')
df_PA = pd.read_json('https://raw.githubusercontent.com/yuwei97910/is445-group30-final-project/main/DataSet/yelp_academic_dataset_business_PA.json')

In [4]:
# business_df = pd.read_json('yelp_academic_dataset_business.json', lines=True)
# business_df.head()

In [5]:
# state_select = ['FL','IL','IN','PA']
# business_df2 = business_df[business_df['state'].isin (state_select)]

In [6]:
# alt.data_transformers.disable_max_rows()

In [7]:
df_FL

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,has_wifi,has_parking,animal_friendly,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,qkRM_2X51Yqxk3btlwAQIg,Temple Beth-El,400 Pasadena Ave S,St. Petersburg,FL,33707,27.766590,-82.732983,3.5,5,...,False,False,False,8.0,8.0,8.0,8.0,8.0,NaN,NaN
1,UJsufbvfyfONHeWdvAHKjA,Marshalls,21705 Village Lakes Sc Dr,Land O' Lakes,FL,34639,28.190459,-82.457380,3.5,6,...,False,False,False,12.0,12.0,12.0,12.0,12.0,12.0,10.0
2,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,,Tampa Bay,FL,33602,27.955269,-82.456320,4.0,10,...,False,False,False,3.0,3.0,3.0,3.0,3.0,5.0,3.0
3,jaxMSoInw8Poo3XeMJt8lQ,Adams Dental,15 N Missouri Ave,Clearwater,FL,33755,27.966235,-82.787412,5.0,10,...,False,False,False,8.0,8.0,8.0,8.0,NaN,NaN,NaN
4,0bPLkL0QhhPO5kt1_EXmNQ,Zio's Italian Market,2575 E Bay Dr,Largo,FL,33771,27.916116,-82.760461,4.5,100,...,True,True,False,8.0,10.0,10.0,10.0,10.0,10.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26325,37G3SzO7RS1qSthACCG5SQ,Tampa Bay Club Sport,380 105th Terrace Ne,Saint Petersburg,FL,33716,27.867754,-82.632602,2.5,7,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26326,Fck8i0fNQCa22ERz5Fa21w,Thoughtful Moving,5004 E Fowler Ave,Tampa,FL,33617,28.054934,-82.400832,2.0,27,...,False,False,False,23.0,11.0,11.0,11.0,23.0,7.0,23.0
26327,esBGrrmuZzSiECyRBoKvvA,Colony Grill - St. Petersburg,670 Central Ave,St. Petersburg,FL,33701,27.770872,-82.643069,4.5,38,...,False,True,False,12.0,12.0,12.0,12.0,13.0,13.0,12.0
26328,Q7JYAMNzI1IpUd2edflmTA,21 Barber,10937 56th St N,Temple Terrace,FL,33617,28.047632,-82.393519,4.5,18,...,False,False,False,11.0,11.0,11.0,11.0,11.0,11.0,7.0
26329,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,FL,33572,27.771002,-82.394910,4.5,9,...,True,True,False,NaN,7.0,7.0,7.0,7.0,7.0,NaN

In [8]:
def dashboard(state):
    df_state = df_IL
    if state == 'FL':
        df_state = df_FL
    elif state == 'IN':
        df_state = df_IN
    elif state == 'PA':
        df_state = df_PA
#     select_box = alt.binding_select(options=list(df_state['stars'].unique()))
#     selection = alt.selection_single(name='x_axis', fields=['stars'], bind=select_box)

    ys = ['is_open', 'latitude', 'longitude','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'has_wifi','has_parking', 'animal_friendly']

    select_box = alt.binding_select(options=ys, name='y_axis')
    sel_y = alt.selection_single(fields=['y_axis'], bind=select_box, init={'y_axis': 'Monday'})

    xs = ['stars', 'review_count']

    select_box = alt.binding_select(options=xs, name='x_axis')
    sel_x = alt.selection_single(fields=['x_axis'], bind=select_box, init={'x_axis': 'stars'})


    chart = alt.Chart(df_IL).transform_fold(
        ys,
        as_ = ['y_axis', 'y_value']
    ).transform_fold(
        xs,
        as_ = ['x_axis', 'x_value']
    ).mark_point().encode(
        x='x_value:Q',
        y='y_value:Q',
        tooltip='name',
        color=alt.Color('x_value:Q')
    ).add_selection(
        sel_y,
        sel_x,
    ).transform_filter(
        sel_y
    ).transform_filter(
        sel_x
    ).interactive()
    chart.display()

In [9]:
state_list = ['IL', 'FL', 'IN','PA']

In [10]:
widgets.interact(dashboard, state = state_list)

interactive(children=(Dropdown(description='state', options=('IL', 'FL', 'IN', 'PA'), value='IL'), Output()), …

### Write up

For this assignment, we created a graph with drop-down options for user to select the column they want and review the relationships between each columns. In the plot, users can first select a state, which we subset the data from the master dataset "yelp_academic_dataset_business", and then look into the relationship of different columns. In the drop-down list, we have five different variables related to the restaurants' information - "stars", "review_count", "is_open", "latitude", and "longitude." 

Originally, we aimed to use two different datasets - "yelp_academic_dataset_business" and "yelp_academic_dataset_review." But after our discussion, we decided to mainly use "yelp_academic_dataset_business" dataset as we currently subset the dataset into four different datasets based on states to meet the file hosting requirement of Github. We may include more states in our final dashboard. We will take "yelp_academic_dataset_review" as contextual dataset as we may include attributes such as review stars count of reach stores. "yelp_academic_dataset_review" dataset can also be found on https://www.yelp.com/dataset/download

We found that it's a little bit hard to ensure the label can changed with the different selections of dropdown list. So this time, we decide not to change the label. But we will fix this problem in final work using JavaScript.

# Data Processing

In [11]:
# df = pd.read_json('yelp_academic_dataset_business.json',lines=True)

In [12]:
# df_business = df

In [13]:
# df_business['cat_list'] = [x.split(',') if x else [''] for x in df_business['categories']]
# all_cat = list(df_business['cat_list'])

In [14]:
# unique_cat = set(np.concatenate(all_cat))
# unique_cat = [x.replace(' ', '') for x in unique_cat] # length = 2455

In [15]:
# def give_unique_cat(cat_list: list):
#     cat_list = [x.replace(' ', '') for x in cat_list]
#     unique_category = 'Others'
#     if 'Restaurants' in cat_list or 'Food' in cat_list or 'Cafeteria' in cat_list: 
#         unique_category = 'Food'
#     if 'Hotel&Travel' in cat_list or 'Hotels' in cat_list : 
#         unique_category = 'Hotels'
#     if 'Bars' in cat_list or 'Beer' in cat_list: 
#         unique_category = 'Bars'
#     # if 'Cafeteria' in cat_list: 
#     #     unique_category = 'Cafeteria'
#     if 'Pharmacy' in cat_list or 'Doctors' in cat_list or 'Health&Medical' in cat_list: 
#         unique_category = 'Health & Medical'
#     if 'Shopping' in cat_list: 
#         unique_category = 'Shopping'
#     if 'Arts&Entertainment' in cat_list: 
#         unique_category = 'Arts & Entertainment'
#     if 'Financial Services' in cat_list: 
#         unique_category = 'Financial Services'
#     if 'Automotive' in cat_list: 
#         unique_category = 'Automotive'
#     if 'ActiveLife' in cat_list: 
#         unique_category = 'Active Life'

#     return unique_category

In [16]:
# df_business['unique_category'] = [give_unique_cat(x) for x in df_business['cat_list']]
# df_business['unique_category'].value_counts().plot(kind='bar')

In [17]:
# def give_restaurant_type(cat_list: list):
#     restaurant_type = None
#     cat_list = [x.replace(' ', '') for x in cat_list]
#     if not ('Food' in cat_list or 'Restaurants' in cat_list):
#         return restaurant_type

#     # print(cat_list)

#     if 'Korean' in cat_list:
#         restaurant_type = 'Korean'
#     elif 'Italian' in cat_list:
#         restaurant_type = 'Italian'
#     elif 'Pizza' in cat_list or 'FastFood' in cat_list or 'Burgers' in cat_list:
#         restaurant_type = 'Fast Food'
#     elif 'Japanese' in cat_list:
#         restaurant_type = 'Japanese'
#     elif 'American(Traditional)' in cat_list or 'American(New)' in cat_list:
#         restaurant_type = 'American'
#     elif 'Chinese' in cat_list:
#         restaurant_type = 'Chinese'
#     elif 'Mexican' in cat_list:
#         restaurant_type = 'Mexican'
#     elif 'Vietnamese' in cat_list:
#         restaurant_type = 'Vietnamese'
#     else:
#         restaurant_type = 'Others'

#     return restaurant_type

In [18]:
# df_business['restaurant_type'] = [give_restaurant_type(x) for x in df_business['cat_list']]
# df_business['restaurant_type'].value_counts().plot(kind='bar')

In [19]:
# def check_attribute(attribute: dict, key: str):
#     if not attribute:
#         return False

#     v = attribute.get(key)
#     if key == 'BusinessParking':
#         if v:
#             v = 'True' in v
#         else:
#             v = 'False'

#     if v and v != 'False' and v!= 'None': 
#         return True
#     else:
#         return False

# df_business['has_wifi'] = [check_attribute(x, 'WiFi') for x in df_business['attributes']]
# df_business['has_parking'] = [check_attribute(x, 'BusinessParking') for x in df_business['attributes']]
# df_business['animal_friendly'] = [check_attribute(x, 'DogsAllowed') for x in df_business['attributes']]

In [20]:
# def calTime(hours, day):
#     if hours:
#         if day in hours:
#             time = hours[day]
#             times = time.split('-')
#             times1 = times[0].split(':')
#             times2 = times[1].split(':')
#             if int(times1[0]) == int(times2[0]):
#                 hour = 24
#             else:
#                 if int(times2[0]) == 0:
#                     hour = 24 - int(times1[0])
#                 elif int(times2[0]) < int(times1[0]):
#                     hour = 24 - int(times1[0]) + int(times2[0])
#                 elif int(times2[0]) > int(times1[0]):
#                     hour = int(times2[0]) - int(times1[0])
#             min = int(times2[1]) - int(times1[1])
#             min /= 60
#             return abs(int(hour - min))

In [21]:
# df_business['Monday'] = df_business.apply(lambda x : calTime(x['hours'],'Monday'),axis = 1)
# df_business['Tuesday'] = df_business.apply(lambda x : calTime(x['hours'],'Tuesday'),axis = 1)
# df_business['Wednesday'] = df_business.apply(lambda x : calTime(x['hours'],'Wednesday'),axis = 1)
# df_business['Thursday'] = df_business.apply(lambda x : calTime(x['hours'],'Thursday'),axis = 1)
# df_business['Friday'] = df_business.apply(lambda x : calTime(x['hours'],'Friday'),axis = 1)
# df_business['Saturday'] = df_business.apply(lambda x : calTime(x['hours'],'Saturday'),axis = 1)
# df_business['Sunday'] = df_business.apply(lambda x : calTime(x['hours'],'Sunday'),axis = 1)

In [22]:
# df_IL = df_business[df_business['state'] == 'IL'].reset_index(drop=True)
# df_IL.to_json('yelp_academic_dataset_business_IL.json')
# pd.read_json('yelp_academic_dataset_business_IL.json')

In [23]:
# df_FL = df_business[df_business['state'] == 'FL'].reset_index(drop=True)
# df_FL.to_json('yelp_academic_dataset_business_FL.json')
# pd.read_json('yelp_academic_dataset_business_FL.json')

In [24]:
# df_IN = df_business[df_business['state'] == 'IN'].reset_index(drop=True)
# df_IN.to_json('yelp_academic_dataset_business_IN.json')
# pd.read_json('yelp_academic_dataset_business_IN.json')

In [25]:
# df_PA = df_business[df_business['state'] == 'PA'].reset_index(drop=True)
# df_PA.to_json('yelp_academic_dataset_business_PA.json')
# pd.read_json('yelp_academic_dataset_business_PA.json')